.App .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickets {
  width: 69%;
}

.ticket-selection .card-body {
  display: flex;
  flex-direction: column;
}

.ticket-selection .btn-group {
  display: flex;
  flex-wrap: wrap;
}

.ticket-selection .ticket {
  margin: 3px;
}

.ticket-selection .legend {
  margin-top: 5px;
}

.ticket-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
}

.offers {
  width: 29%;
  min-height: 100%;
}

.offer-selection {
  min-height: 100%;
}

.transaction-message {
  min-height: 72px
}
