.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickets {
  width: 69%;
}

.ticket-selection {
  min-height: 0%;
}

.ticket {
  margin: 3px;
}

.ticket-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
}

.offers {
  width: 29%;
  min-height: 100%;
}

.offer-selection {
  min-height: 100%;
}
